/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <220>; };

&mt { quick_tap_ms = <220>; };

/ {
    macros {
        accent: accent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "ACCENT";
            tap-ms = <0>;
            wait-ms = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N3 &kp N0 &kp N1 &kp SPC>;
        };

        shiftalt: shiftalt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "SHIFTALT";
            tap-ms = <0>;
            wait-ms = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp LALT>,
                <&macro_release>,
                <&kp LSHFT>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//    ┌───────────┬───────────┬───────────┬───────────┬─────────────┬──────────┬──────────┬──────────────┬───────────┬───────────┬───────────┬───────────┐
//    │ mt lgui ] │     Q     │     W     │     E     │      R      │    T     │    Y     │      U       │     I     │     O     │     P     │ mt rgui [ │
//    ├───────────┼───────────┼───────────┼───────────┼─────────────┼──────────┼──────────┼──────────────┼───────────┼───────────┼───────────┼───────────┤
//    │ mt lctl ` │ mt lgui A │ mt lalt S │ mt lctl D │  mt lsft F  │    G     │    H     │  mt rsft J   │ mt rctl K │ mt ralt L │ mt rgui ; │ mt rctl ' │
//    ├───────────┼───────────┼───────────┼───────────┼─────────────┼──────────┼──────────┼──────────────┼───────────┼───────────┼───────────┼───────────┤
//    │ mt lalt \ │     Z     │     X     │     C     │      V      │    B     │    N     │      M       │     ,     │     .     │     /     │ mt ralt - │
//    └───────────┴───────────┴───────────┼───────────┼─────────────┼──────────┼──────────┼──────────────┼───────────┼───────────┴───────────┴───────────┘
//                                        │ lt 2 tab  │ mt lsft spc │ lt 1 ent │ lt 1 esc │ mt rsft bspc │ lt 2 del  │
//                                        └───────────┴─────────────┴──────────┴──────────┴──────────────┴───────────┘
  &mt LWIN RBKT     &kp Q        &kp W        &kp E         &kp R             &kp T       &kp Y       &kp U            &kp I         &kp O        &kp P           &mt RWIN LBKT
  &mt LCTRL GRAVE   &mt LWIN A   &mt LALT S   &mt LCTRL D   &mt LSHFT F       &kp G       &kp H       &mt RSHFT J      &mt RCTRL K   &mt RALT L   &mt RGUI SEMI   &mt RCTRL SQT
  &mt LALT BSLH     &kp Z        &kp X        &kp C         &kp V             &kp B       &kp N       &kp M            &kp COMMA     &kp DOT      &kp FSLH        &mt RALT MINUS
                                              &lt 2 TAB     &mt LSHFT SPACE   &lt 1 RET   &lt 1 ESC   &mt RSHFT BSPC   &lt 2 DEL
            >;
        };

        lower_layer {
            bindings = <
//    ┌───────────┬────────────┬────────────┬────────────┬────────────┬───────────┬─────┬───────────┬───────────┬───────────┬───────────┬───────────┐
//    │           │     f1     │     f2     │     f3     │     f4     │  &accent  │  !  │     @     │     #     │     $     │     %     │           │
//    ├───────────┼────────────┼────────────┼────────────┼────────────┼───────────┼─────┼───────────┼───────────┼───────────┼───────────┼───────────┤
//    │ mt lctl + │ mt lgui f5 │ mt lalt f6 │ mt lctl f7 │ mt lsft f8 │ &shiftalt │  ^  │ mt rsft & │ mt rctl * │ mt ralt ( │ mt rgui ) │ mt rctl _ │
//    ├───────────┼────────────┼────────────┼────────────┼────────────┼───────────┼─────┼───────────┼───────────┼───────────┼───────────┼───────────┤
//    │ mt lalt = │     f9     │    f10     │    f11     │    f12     │           │     │           │           │           │           │ mt ralt - │
//    └───────────┴────────────┴────────────┼────────────┼────────────┼───────────┼─────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                          │  lt 3 tab  │            │           │     │           │ lt 3 del  │
//                                          └────────────┴────────────┴───────────┴─────┴───────────┴───────────┘
  &none            &kp F1        &kp F2        &kp F3         &kp F4         &accent     &kp EXCLAMATION   &kp AT           &kp HASH         &kp DOLLAR      &kp PERCENT     &none
  &mt LCTRL PLUS   &mt LWIN F5   &mt LALT F6   &mt LCTRL F7   &mt LSHFT F8   &shiftalt   &kp CARET         &mt RSHFT AMPS   &mt RCTRL STAR   &mt RALT LPAR   &mt RGUI RPAR   &mt RCTRL UNDER
  &mt LALT EQUAL   &kp F9        &kp F10       &kp F11        &kp F12        &none       &none             &none            &none            &none           &none           &mt RALT MINUS
                                               &lt 3 TAB      &trans         &trans      &trans            &trans           &lt 3 DEL
            >;
        };

        raise_layer {
            bindings = <
//    ┌──────────────┬──────────────┬───────────┬───────────┬───────────┬──────────┬──────────┬──────────────┬────────────┬──────────────┬──────────────┬────────────────┐
//    │     lgui     │     kp_*     │     7     │     8     │     9     │   kp_+   │   ins    │     home     │    play    │     pgup     │     volu     │      rgui      │
//    ├──────────────┼──────────────┼───────────┼───────────┼───────────┼──────────┼──────────┼──────────────┼────────────┼──────────────┼──────────────┼────────────────┤
//    │ mt lctl kp_+ │ mt lgui kp_/ │ mt lalt 4 │ mt lctl 5 │ mt lsft 6 │   kp_-   │   left   │ mt rsft down │ mt rctl up │ mt ralt rght │ mt rgui vold │ mt rctl K_MENU │
//    ├──────────────┼──────────────┼───────────┼───────────┼───────────┼──────────┼──────────┼──────────────┼────────────┼──────────────┼──────────────┼────────────────┤
//    │ mt lalt kp_= │      0       │     1     │     2     │     3     │   kp_.   │          │     end      │    pscr    │     pgdn     │     mute     │      ralt      │
//    └──────────────┴──────────────┴───────────┼───────────┼───────────┼──────────┼──────────┼──────────────┼────────────┼──────────────┴──────────────┴────────────────┘
//                                              │           │           │ lt 3 ent │ lt 3 esc │              │            │
//                                              └───────────┴───────────┴──────────┴──────────┴──────────────┴────────────┘
  &kp LGUI                &kp KP_MULTIPLY      &kp N7              &kp N8         &kp N9               &kp KP_PLUS    &kp INSERT   &kp HOME         &kp C_PP       &kp PG_UP        &kp C_VOL_UP        &kp RGUI
  &mt LCTRL KP_PLUS       &mt LWIN KP_DIVIDE   &mt LALT NUMBER_4   &mt LCTRL N5   &mt LSHFT NUMBER_6   &kp KP_MINUS   &kp LEFT     &mt RSHFT DOWN   &mt RCTRL UP   &mt RALT RIGHT   &mt RGUI C_VOL_DN   &mt RCTRL K_MENU
  &mt LEFT_ALT KP_EQUAL   &kp KP_NUMBER_0      &kp N1              &kp N2         &kp N3               &kp KP_DOT     &none        &kp END          &kp PSCRN      &kp PG_DN        &kp C_MUTE          &kp RALT
                                                                   &trans         &trans               &lt 3 RET      &lt 3 ESC    &trans           &trans
            >;
        };

        adjust_layer {
            bindings = <
//    ┌──────────────┬──────────┬───────────┬──────────┬──────────┬──────────┬─────┬─────┬─────┬─────┬─────┬──────────────┐
//    │ mt lgui nlck │ out_ usb │ out_ ble  │          │          │          │     │     │     │     │     │ mt rgui caps │
//    ├──────────────┼──────────┼───────────┼──────────┼──────────┼──────────┼─────┼─────┼─────┼─────┼─────┼──────────────┤
//    │    bt_clr    │ bt_sel 0 │ bt_sel 1  │ bt_sel 2 │ bt_sel 3 │ bt_sel 4 │     │     │     │     │     │              │
//    ├──────────────┼──────────┼───────────┼──────────┼──────────┼──────────┼─────┼─────┼─────┼─────┼─────┼──────────────┤
//    │   epwr_ on   │ epwr_ on │ epwr_ tog │          │          │          │     │     │     │     │     │              │
//    └──────────────┴──────────┴───────────┼──────────┼──────────┼──────────┼─────┼─────┼─────┼─────┴─────┴──────────────┘
//                                          │          │          │          │     │     │     │
//                                          └──────────┴──────────┴──────────┴─────┴─────┴─────┘
  &mt LWIN KP_NUMLOCK   &out OUT_USB       &out OUT_BLE        &none          &none          &none          &none   &none   &none   &none   &none   &mt RWIN CAPS
  &bt BT_CLR            &bt BT_SEL 0       &bt BT_SEL 1        &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &none   &none   &none   &none   &none   &none
  &ext_power EP_OFF     &ext_power EP_ON   &ext_power EP_TOG   &none          &none          &none          &none   &none   &none   &none   &none   &none
                                                               &none          &none          &none          &none   &none   &none
            >;
        };

    };
};
